@import "~bootstrap/dist/css/bootstrap.min.css";


body{
    background-color: green;
    
}


#footer{
    transform: rotate(180deg);
    font-size: 80px;
    text-align: end;
    display: flex;
}

#header{
    font-size: 80px;
    text-align: start;
    display: flex;
}

#number{
    font-size: 80px;
    
}


